body {
  margin: 0;
}

.container {
  display: flex;
  height: 100vh;
  background: #130f40;
}

.channels {
  width: 25vw;
}

h2 {
  color: lightgray;
  margin-left: 30px;
}

nav ul {
  list-style: none;
  text-align: center;
  padding-left: 0;
  width: 100%;
  margin: 0;
}

nav ul li {
  padding: 5px 10px;
  color: white;
}

.seleccion {
  color: white;
  font-weight: bold;
  background: #0984e3;
}

nav ul li:hover {
  color: white;
  background: #30336b;
}

.principal-chat {
  width: 75vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-left: 1px solid lightgray;
}

.chat {
  padding: 10px;
  margin: 5px 10px;
  overflow-y: auto;
}

.chat::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

.chat::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 4px;
}

.chat::-webkit-scrollbar-track {
  background: lightgray;
  border-radius: 4px;
}

.container-message {
  color: lightgray;
}

img {
  border-radius: 5px;
  float: left;
  margin-right: 10px;
}

.author {
  color: white;
  font-weight: bold;
}

.time {
  font-size: 12px;
}

p {
  margin-top: 7px;
}

.instant-message {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px 10px 10px;
  padding: 10px;
  background: #30336b;
  border-radius: 5px;
}

input {
  width: 90vw;
  background: #30336b;
  color: darkgray;
  border-style: none;
}

button {
  background: #30336b;
  color: darkgray;
  border-style: none;
}
