body {
    margin-left: 0;
  }
  
  .container {
    position: absolute;
    top: 0;
    bottom: 0;
    background: #130f40;
    height: 100vh;
    width: 100vw;
  }
  
  .channels {
    position: relative;
    float: left;
    height: 100vh;
    width: 19vw;
  }
  
  h2{
    color: lightgray;
    margin-left: 30px;
  }
  
  nav ul {
    list-style: none;
    text-align: center;
    padding-left: 0;
    float: left;
    width: 100%;
    margin: 0;
  }
  
  nav ul li {
    padding: 5px 10px;
    color: white;
  }
  
  .seleccion {
    color: white;
    font-weight: bold;
    background: #0984e3;
  }
  
  nav ul li:hover {
    color: white;
    background: #30336b;
  }
  
  .principal-chat {
    position: relative;
    float: left;
    height: 100vh;
    width: 80vw;
    border-left: 1px solid gray;
  }
  
  .chat {
    position: absolute;
    float: left;
    width: 97.5%;
    height: 92%;
    padding: 10px;
    margin: 0px 10px;
    bottom: 5vh;
  }
  
  .container-message {
    color: lightgray;
  }
  
  img {
    border-radius: 5px;
    float: left;
    margin-right: 10px;
  }
  
  .author {
    color: white;
    font-weight: bold;
  }
  
  .time {
    font-size: 12px;
  }

  p {
    margin-top: 7px;
  }
  
  .instant-message {
    position: absolute;
    float: left;
    width: 98.5%;
    background: #30336b;
    padding: 10px;
    margin: 0px 10px;
    border-radius: 5px;
    bottom: 1vh;
  }
  
  input {
    width: 97%;
    background: #30336b;
    color: darkgray;
    border-style: none;
  }
  
  button {
    background: #30336b;
    color: darkgray;
    border-style: none;
  }